*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    background: #428866;
    text-decoration: none;
    font-size: 1.2rem;
    
}

.wraper{
    margin: 10px;
    text-align: center;
}
.titu{
    text-align: left;
    font-size: 1.3rem;
    color: #161718;
}
#seleccion{
    margin: 0 5px;
}

h5{
    font-size: .8rem;
    text-align: left;
    color: #1f1f20;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    transform: translateX(-6%);
}

.contenedor li{    
    width: 130px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}
.contenedor img{
    border-radius: 5px;
    -webkit-mask-image: linear-gradient(
        to bottom, 
        rgba(0,0,0,1)0%,
        rgba(0,0,0,0)100%
    );
    mask-image: linear-gradient(
        to bottom,
        rgba(0,0,0,1)20%,
        rgba(0,0,0,0)100%
    );
}

.contenedor .option a{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 2px;
    height: 100px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: #f5f1ff;
    border-radius: 5px;
}  
.contenedor .option img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.option span{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
.option:hover {
    background: #f5a6e8;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
}         
