body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    align-items: center;
    background: #0b606b;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor li{
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    margin: 12px;
}

.contenedor .option a{  
    padding: 5px;
    text-decoration: none;
    background: transparent;
    border: 2px solid #a01d99;
    color: #16151d;
}  

.option:hover {
    background: #ec97de;
    color: white;
}         
