body{
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    background: #428866;
    text-align: center;
    
}

input{
    margin: 10px auto;
    display: block;
    background: rgba(253, 253, 253, 0.3);
    border-radius: 15px;
    border: none;
    padding: 8px 20px;
    
}
button{
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;
    background: rgb(127, 170, 110);
    border: transparent;
    font-size: medium;
    padding: 10px 20px;
    border-radius: 8px;
}
